%section.banner.-black.-stones.full-height
  .faux-table.full-height.full-width
    .full-height.full-width
      .align-middle.centered.t-white
        .fadeout-border.-left.-vertical.inline-block.margin-b4
          .fadeout-border.-bottom.-horizontal.padding-half
            .fadeout-border.-left.-right.-vertical
              .fadeout-border.-bottom.-horizontal.-top.padding-4
                %h1.heading.-giant.-weighted
                  We're Coming Soon
        %h1.heading.-grand.-signature.margin-b0
          = business_name
        %h2.heading.-medium
          = business_slogan
