- content_for( :sub_header ) do
  %section.-dark
    .grid-container
      .grid-40
        %br
      .grid-60
        %h1.heading.-grand.-signature.margin-b0.t-subtle
          = business_name
        %h2.heading.-small.t-light
          = business_slogan
        %p.t-subtle
          Etiam erat lectus, pharetra sed eleifend fermentum, aliquet id nibh. Aliquam pellentesque dui vel iaculis fermentum. Etiam lacinia consequat lectus in tempus. Etiam ut ornare nisl. Maecenas tempor sem ex, ut sollicitudin velit facilisis aliquam. Nam aliquam risus sem, quis suscipit ipsum tempus et. Integer eu gravida nunc. Vivamus enim tortor, vestibulum vel diam sit amet, porttitor malesuada erat.
        %p
          %span.accent.-bright.-large.margin-r1
            Big Event Memorials
          %span.accent.-bright.-large.margin-r1
            Garden Stones
          %span.accent.-bright.-large.margin-r1
            Personal Memorials
          %span.accent.-bright.-large.margin-r1
            Address Markers
          %span.accent.-bright.-large.margin-r1
            More...

.page-content
  .grid-container
    .grid-33
    .grid-33
    .grid-33

